/vendor
composer.lock
composer.phar

js/node_modules/
js/dist-typings/
js/coverage-ts

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
tests/.phpunit.cache
tests/.phpunit.result.cache
/tests/integration/tmp
.vagrant
.idea/*
.vscode
